bot_prefixes = [""]
discord_token = "Bot <token>"
postgres_addr = ""
owners = []
owo_token = ""
discord_user_id = 0

[dump]
address = "127.0.0.1:0"
authorization = "<>"

[lavalink]
address = "127.0.0.1:1"

[queue]
address = "127.0.0.1:2"

[redis]
host = "127.0.0.1"
database = 0
port = 3
