bot_prefixes = [""]
discord_token = "Bot <token>"
postgres_addr = ""
discord_user_id = 0

[dump]
authorization = "<>"
display_address = "127.0.0.1:3"
post_address = "127.0.0.1:0"

[lavalink]
address = "127.0.0.1:1"

[queue]
address = "127.0.0.1:2"

[redis]
host = "127.0.0.1"
database = 0
port = 3
