bot_prefixes = [""]
discord_token = "Bot <token>"
lavalink_user_id =
postgres_addr = ""
owners = []
owo_token = ""

[sharding]
lower = 0
upper = 0
total = 1

[[lavalink_nodes]]
http_host = ""
websocket_host = ""
password = ""
